{{>head }}
{{> navbar}}
    
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Cosa</h1>
        </div>
        <div class="col-2">
            <img src="assets/img/dog.jpg" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}