{{>head }}
{{> navbar}}
    
<div class="container">
    <h1>Laboral Experience</h1>
    <br>
    <hr>
    <div class="row">
        <div class="col-4">
            <h5>Jun 2018 — Dec 2018</h5>
            <h5 class="primary-color">PACHUCA DE SOTO, HGO.</h5>
        </div>
        <div class="col-8">
            <h4>Support, maintenance and customer service</h4>
            <p>I had the opportunity to work at the Kioru company based in Pachuca de Soto, Hgo,
carrying out software development activities with adobe xe language, attention to
clients, development of manuals, visual content, and implementation of modules for
Saeko system for customers. Time in the company I was trained to learn the language
Ember with the same knowledge was used to work on software projects of the
company in which i will perform satisfactorily.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h5>Dec 2018 — Presente</h5>
            <h5 class="primary-color">MÉRIDA YUC.</h5>
        </div>
        <div class="col-8">
            <h4>Front End Software Developer</h4>
            <p>I had a 6-month in-company training in the Yeact Native language through a
e terna company in which I was learning the whole structure of this language and working
collaboratively in mobile application development projects.
After the training I was transferred to the city of MRrida at the company COTEMAR S.A.
de C.V. where he will work in software developments of the same company with the language of
cit, q and javascript programming.
Likewise actively participate in the migration of web and desktop applications from
server to server.
            </p>
</div>
    </div>
    <br>
    <br>
    <h1>Education</h1>
    <hr>
    <div class="row img-res">
        <div class="col-4">
            <h5>Sep 2016 — Dic 2018</h5>
            <h5 class="primary-color">MINERAL DE LA REFORMA, HGO.</h5>
        </div>
        <div class="col-8">
            <h4>Universidad Tecnológica del Mineral de la Yeforma
TRcnico Superior Universitario en Tecnologías de la Información y
Comunicación (TICS)</h4>
            <p>
                I developed different skills and knowledge that have helped me
professionally.
            </p>
            <ul>
                <li>Process management</li>
                <li>POO</li>
                <li>Network</li>
                <li>Support and maintenance of computer equipment</li>
                <li>Design</li>
                <li>3D Animation</li>
                <li>Multimedia</li>
            </ul>
        </div>
    </div>

</div>

{{> footer}}