{{>head }}
{{>navbar }}
    <div class="container-fluid no-margin fullheight">
        <div class="row">
            <div class="col">
                <img src="assets/img/development.svg" class="img-fluid img" alt="Responsive image">
            </div>
            <div class="col b-jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">Saul Narvaez Menencio</h1>
                    <p class="lead">Web and movile Front-End Developer</p>
                    <hr class="my-4">
                    <p>Developer of desktop, web and mobile applications. I am self-taught capable of reaching the goals that I set for myself as a person and in the area in which I am developing. I have around 5 years of work experience working in various jobs, the first 2 of which I provided transportation services. I like to be part of projects because of my ease of working in a team and get the most out of my professional and personal training.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid no-margin fullheight">
        <div class="row">
            <div class="col b-jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">My skills</h1>
                    <p class="lead"></p>
                    <hr class="my-4">
                    <h5 class="card-title">React Native</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">React Js</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Redux</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Git & Github</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Flutter</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">HTML 5</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">CSS3</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Javascript</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">C#</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Ember JS</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Node JS</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Express</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Mongo DB</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">SQL Server</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                    </div>
                    <br>
                    <h5 class="card-title">Support and maintenaince of computer equipment</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="assets/img/presentation.svg" class="img-fluid img" alt="Responsive image">
                <img src="assets/img/market.svg" class="img-fluid img" alt="Responsive image">
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid no-margin fullheight">
        <div class="row">
            <div class="col col-center">
                <img src="assets/img/alarm.png" class="img-fluid img" alt="Responsive image">
            </div>
            <div class="col b-jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">My first app</h1>
                    <p class="lead">This is an alarm app based on standard alarm app in movile devices</p>
                    <hr class="my-4">
                    <p>I tried to use a new design and colors, using neumorphism design, this app is build with <span style="font-weight: bold;">Flutter</span> but for now it's only for android</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid no-margin fullheight">
        <div class="row">
            <div class="col b-jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">Beeps app</h1>
                    <p class="lead">This is a simple beep app where you can beep in real time</p>
                    <hr class="my-4">
                    <p>This app is connected with an Api Rest that I created with node, express and mongodb, it's build with <span style="font-weight: bold;">React Native</span> and works for andriod and IOS</p>
                </div>
            </div>
            <div class="col img-res">
                <img src="assets/img/beep.png" class="img-fluid img" alt="Responsive image">
            </div>
        </div>
    </div>
    <hr>
{{> footer}}