footer {
    margin-top: 50px;
    background-color: #222944;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

body {
    background-color: white;
}

.navbar {
    background-color: white;
    align-items: center;
}

.navbar a {
    color: #444444;
}

.no-margin {
    margin: 0px !important;
}

.img {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    min-height: 100vh;
}

.jumbotron {
    background-color: white;
}

.b-jumbotron {
    /* background-color: orange; */
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.primary-color {
    color: orchid;
}

.col-center {
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.img-res {
    margin-bottom: 100px;
}

.flex-links {
    display: flex;
}

.nav-link {
    color: white;
}

.c-row {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}